body {
    font-size: 16px;
}

.word {
    display: inline-block;
}

.aramic {
    color: royalblue;
}

.high {
    background: yellow;
}

.dictionary{
    color: cornflowerblue;
}

.biography {
    color: brown;
}

.rt {
    color: blueviolet;
}

.location{
    color: darkblue;
}

.beur {
    color: darkgreen;
}

.halacha {
    color: coral;
}